*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background: url(./pic/stream.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding: auto;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 8px solid ;
    width: 30%;
    height: 50%;
    border-radius: 70px; 
    height: 50vh;
}
i{
    color: white;
}